<li class="round_item">
    <span class="comp_round_box"><img class="hpb" src={{src}} alt={{description}}></span>
</li>
<li class="round_item">
    <span class="comp_round_box"><img class="hpb" src={{src}} alt={{description}}></span>
</li>
<li class="round_item">
    <span class="comp_round_box"><img class="hpb" src={{src}} alt={{description}}></span>
</li>
<li class="round_item">
    <span class="comp_round_box"><img class="hpb" src={{src}} alt={{description}}></span>
</li>
<li class="round_item">
    <span class="comp_round_box"><img class="hpb" src={{src}} alt={{description}}></span>
</li>

